<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.ImagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      height="300px"
      width="500px"
    />
  </div>
</div>
<div class="raw">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="raw">
  <div class="col-xs-12">
    <div class="btn-group">
      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          style="cursor: pointer"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage Recipe
        </a>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="addIngredientoSL()"
              >To Shoping List</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="new"
              (click)="onClicked()"
              style="cursor: pointer"
              >EDit Recipe</a
            >
          </li>
          <li>
            <a class="dropdown-item" style="cursor: pointer">Delete Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.descrption }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.Ingredients">
        {{ ingredient.name }}-{{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
